.navbar-brand-afrik {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: inherit;
    
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link .menu-title, .horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link i, .horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link .menu-arrow {
    color: #fff !important;
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
    color: #fff !important;
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-icon {
    color: #fff !important;
}

.navbar-brand-afrik img {
    height: 42px;
    margin-right: 0.1rem;
}

.navbar-brand-wrapper-afrik {
    font-weight: bold;
    color: #fff;
}

.bottom-navbar-afrik {
    background-color: #014C98 !important;
    transition-property: position, left, right, top, z-index !important;
    box-shadow: 0 19px 34px -15px #d2d2f2 !important;
    -webkit-box-shadow: 0 19px 34px -15px #d2d2f2 !important;
}

.brand-logo img {
    width: 190px !important;
    height: 28px !important;
}

.brand-logo-login img {
    width: 300px !important;
    height: 208px !important;
}

.form-control {
    padding: 0.675rem 1.1rem !important;
}

.nav-link span:hover {
    font-weight: bolder !important;
    color: greenyellow !important;
}

.text-info-afrik {
    color: #014C98 !important;
}

.text-param-afrik {
    color: #014C98  !important;
}

.text-info-green-afrik {
    color: #0dbf00 !important;
}

.icon-line-list-afrik li:nth-child(odd)::before {
background: #8d9092;
}

.icon-line-list-afrik li:nth-child(odd)::after {
content: "\F150";
}

.icon-line-list-afrik li:nth-child(even)::before {
background: #f6303e;
}

.icon-line-list-afrik li:nth-child(even)::after {
content: "\F514";
}

.actif-afrik {
    padding-top: 15px;
}

.expire-afrik {
    font-size: 0.8rem;
    font-family: inherit;
    color: #8d9092;
}

.ajouter-link-afrik {
    font-size: 0.8rem;
}

.btn-primary:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgb(60 72 118 / 14%), 0 3px 1px -2px rgb(60 72 118 / 20%), 0 1px 5px 0 rgb(60 72 118 / 12%) !important;
    box-shadow: 0 2px 2px 0 rgb(60 72 118 / 14%), 0 3px 1px -2px rgb(60 72 118 / 20%), 0 1px 5px 0 rgb(60 72 118 / 12%) !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #014C98 ;
}

.link-red-afrik {
    color: #f6303e !important;
    font-size: 0.8rem;
}

.link-green-afrik {
    color: #014C98  !important;
    font-weight: bold;
}

.link-white-afrik {
    color: #fff !important;
    font-weight: bold;
}

.btn-danger-afrik {
    color: #fff;
    background-color: #d60312;
    border-color: #d60312;
}

.btn-primary {
    background-color: #014C98 !important;
}

.bulle {
    width: 100%;
    min-width: 100%;
}

.num-title {
    font-size: xx-large;
}

.big-text-size {
    font-size: xx-large;
}

.medium-text-size {
    font-size: large;
}

.small-text-size {
    font-size: small;
    margin-top: 15px;
}

.title-afrik {
    margin: 1rem 0;
    color: #3c4876;
}

.line-up-afrik {
    padding: 1.5rem 0;
    border-top: 1px solid #e9e8ef;
}

.reply-afrik {
    background-color: #fdefc7;
}

.login-half-bg {
    background-image: url("../../images/img_1.jpg") !important;
    background-size: cover;
}

/* ------- */

.attachments-sections ul li {
    display: inline-flex !important;
}

.attachments-sections ul li {
    flex-direction: row !important;
}

.attachments-sections ul li .thumb {
    justify-content: center !important;
}

.attachments-sections ul li .thumb, .attachments-sections ul li .details .buttons {
    align-items: center !important;
}

.attachments-sections ul li .details p.file-name {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}
  

.attachments-sections ul {
    list-style: none !important;
    border-top: 1px solid #e9e8ef !important;
    padding: 30px 15px 20px !important;
  }
  
  .attachments-sections ul li {
    padding: 10px !important;
    margin-right: 20px !important;
    border: 1px solid #e9e8ef !important;
    border-radius: 5px !important;
  }
  
  .attachments-sections ul li .thumb {
    display: inline-block !important;
    margin-right: 10px !important;
  }
  
  .attachments-sections ul li .thumb i {
    font-size: 30px !important;
    margin: 0 !important;
    color: #2e383e !important;
  }
  
  .attachments-sections ul li .details p.file-name {
    display: block !important;
    margin-bottom: 0 !important;
    color: #2e383e !important;
  }
  
  .attachments-sections ul li .details .buttons .file-size {
    margin-right: 10px !important;
    margin-bottom: 0 !important;
    font-size: 13px !important;
  }
  
  .attachments-sections ul li .details .buttons a {
    font-size: 13px !important;
    margin-right: 10px !important;
  }
  
  .attachments-sections ul li .details .buttons a:last-child {
    margin-right: 0 !important;
  }
  