.editorconfig
.env
.env.backup
.phpunit.result.cache


/.idea
/.vscode


Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

docker-compose.override.yml

/node_modules
/public/hot
/public/catalogs
/public/storage
/public/bats
/public/documents
/public/rib
/public/expeditions
/public/bills

/storage/*.key
/vendor



/database/snapshots
